
canvas {
    z-index: 1;
}

#box {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    background: black;
}

.hide {
    display: none;
}

img {
    padding: 2px;
    border: 1px dotted black;
}

footer {
    margin-top: 20rem;
}
