body
{
    padding: 1rem 2rem;
}

.outline
{
    border: 1px solid gray;
    margin: 5px;
}

section.outline
{
    padding-bottom: 5px;
    margin-bottom: 1rem;
}

section.outline > h5 
{
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: lightgray;
}

section.outline > div
{
    padding-left: 5px;
}

input[id$="_yellow"]:checked + label
{
    background-color: yellow;
}

input[id$="_purple"]:checked + label
{
    background-color: purple;
}

input[id$="_green"]:checked + label
{
    background-color: green;
}

input[id$="_red"]:checked + label
{
    background-color: red;
}

input[id$="_blue"]:checked + label
{
    background-color: blue;
}

input[id$="_omit"]:checked + label
{
    background-color: lightgray;
}

